# Binaries
/recon-pipeline
bin/recon-pipeline

# Output directory
out/
# Various out directories
out_*/

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work


# Wordlists
wordlists/

# MacOS
.DS_Store

# Trunk
.trunk/