# Binaries
bin/recon-pipeline*

# Output directory
out/
# Various out directories
# out_*/

# Local Domain files
domains_local.txt

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Wordlists
wordlists/

# MacOS
.DS_Store

# Trunk
.trunk/

project_info.txt